$color-background: #ffffff;
$color-primary: #8bbf1f;
$color-add: #a9d44f;
$color-background-prim: #d2ee9a;
$color-disabled: #8bbf1f;
$color-background-add: #f6f6fa;

$color-border: #e4e4e7;
$color-hover: #afb0b2;

$color-text: #222427;
$color-text-add: #5e6062;

$content-width: 1860px;
$big-width: 2560px;
$width-1920: 1920px;
$width-1440: 1440px;
$width-1024: 1024px;
$width-991: 991px;
$width-425: 425px;
$mobile-width: 360px;
$width-320: 320px;
