.link-block {
  position: relative;
}

.basket {
  position: absolute;
  width: 384px;
  top: 163px;
  right: 0;
  background-color: $color-background;

  @include media-991 {
    top: 64px;
  }
}

.basket__card {
  padding: 4%;

  @include media-big {
    padding: 4% 10%;
  }
  @include media-1920 {
    padding: 4%;
  }
}

.card__info {
  width: 60%;
}

.card__title {
  @include font($size: 1.4rem, $height: 1.8rem, $weight: 500);
  margin-bottom: 4px;
}

.card__text {
  @include font($size: 1.2rem, $height: 1.5rem, $weight: 500);
  color: $color-text-add;
}

.basket__sum {
  @include font($size: 1.6rem, $weight: 500);
  margin-bottom: 20px;
}

.card__block_counter {
  width: 50px;
}

.sum__text {
   margin-bottom:20px;
}

.sum__btn {
margin-bottom: 20px;
}